<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Mareva – Inicio</title>
<link href="https://fonts.googleapis.com/css2?family=Circular+Std:wght@400;500;600;700&family=DM+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>


<nav>
  <a class="nav-logo" href="#">
    <img src="/static/img/logo-mareva.png" alt="logo-mareva" width="125px" height="90px">
  </a>

  <div class="nav-tabs">
    <a class="nav-tab" href="#">
      <span class="nav-tab-icon">🏠</span>
      Alojamientos
    </a>
    <a class="nav-tab" href="#">
      <span class="nav-tab-icon">🎈</span>
      Paquetes Completos
      <span class="badge">Novedad</span>
    </a>
    <a class="nav-tab active" href="#">
      <span class="nav-tab-icon">🛎️</span>
      Servicios
      <span class="badge">Novedad</span>
    </a>
  </div>

  <div class="nav-actions">
    <button class="btn-icon">🌐</button>
    <button class="btn-icon">☰</button>
  </div>
</nav>

<div class="search-wrap">
  <div class="search-bar">
    <div class="search-field">
      <span class="search-label">Dónde</span>
      <span class="search-value">Explora destinos</span>
    </div>
    <div class="search-field">
      <span class="search-label">Fechas</span>
      <span class="search-value">Agrega fechas</span>
    </div>
    <div class="search-field">
      <span class="search-label">Tipo de servicio</span>
      <span class="search-value">Agregar servicio</span>
    </div>
    <button class="search-btn">🔍</button>
  </div>
</div>

<main>

  <!-- Categories -->
  <h2 class="section-title">Servicios en Bogotá</h2>
  <div class="categories-grid" id="categories"></div>

  <div class="listing-section">
    <div class="listing-header">
      <div class="listing-header-left">
        <span class="listing-section-title">Fotografía</span>
      </div>
      <div class="nav-arrows">
      </div>
    </div>
    <div class="listings-carousel" id="fotos"></div>
  </div>

  <div class="listing-section">
    <div class="listing-header">
      <div class="listing-header-left">
        <span class="listing-section-title">Chefs</span>
      </div>
    </div>
    <div class="listings-carousel" id="chefs"></div>
  </div>

</main>

<script src="/static/js/script.js"></script>
</body>
</html>
